body {
    background: white;
}
.m-container { 
    padding: 20px 100px;
}

.m-button-container {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;

    margin-bottom: 25px;
}

.m-edit-button-top, .m-edit-button-bottom, .m-save-button {
    text-align: center;

    height: 40px;
    width: 150px;
    padding: 6px 18px;
    margin-right: 20px;
   
    border-radius: 5px;
    border: none;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;

    background: #8B5CF6; 
}

.m-edit-button-bottom {
    display: none;
}

.m-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 40px;
    margin-bottom: 20px;

    box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
    border-radius: 8px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #283252;
}

@media (max-width: 1000px) {
    .m-container {
        text-align: center;

        padding: 20px 90px;
        margin-top: 70px;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .m-container {
        padding: 80px 20px 40px 20px;  
    }
    
    .m-table-header { 
        display: none;
    }

    .m-box {
        box-shadow: none;
        padding: 20px 0px;
    }

    .m-save-button {
        width: 100%;
        margin: 0px 20px;
    }

    .m-edit-button-bottom {
        display: block;
        width: 100%;
        margin: 0px 20px;
    }

    .m-edit-button-top{
        display: none;
    }
}

@media (max-width: 325px) {

    .m-container {
        padding: 80px 10px 40px 10px;  
    }

}